<template>
  <div :class="{'nav-open': $sidebar.showSidebar}">
    <notifications></notifications>
    <router-view></router-view>
  </div>
</template>

<script>
import "./assets/popup.scss";
export default {};
</script>
<style lang="scss">
.vue-notifyjs.notifications {
  .list-move {
    transition: transform 0.3s, opacity 0.4s;
  }
  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active {
    transition: transform 0.2s ease-in, opacity 0.4s ease-in;
  }
  .list-leave-active {
    transition: transform 1s ease-out, opacity 0.4s ease-out;
  }

  .list-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  .list-leave-to {
    opacity: 0;
    transform: scale(1.2, 0.7);
  }
}

.tableLoader {
  transition: all 0.25s ease-in-out;
}
.tableLoader-enter-active,
.tableLoader-leave-active {
}
.tableLoader-enter,
.tableLoader-leave-to {
  opacity: 0;
  height: 0;
}
.tableLoader-leave,
.tableLoader-enter-to {
  opacity: 1;
  height: 30px;
}
.card-title {
  .btn.pull-right {
    margin-right: 5px;
  }
}
table .btn {
  border-width: 1px !important;
  line-height: 1 !important;
  padding: 2px 6px !important;
  font-weight: normal !important;
}
.flashClass {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10000;
  transition: all 0.25s ease-in-out;
}
.card-body {
  margin-left: 0 !important;
}
.text-green {
  color: #4caf50;
}
.text-red {
  color: #f44336;
}
.rowcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  clear: both;
  > span {
    margin-top: 8px;
    margin-left: 10px;
  }
}
</style>
