<template>
  <fragment>
    <table class="table" style>
      <thead>
        <slot name="columns">
          <tr>
            <th v-for="(column, ix) in columns" :key="ix">{{columnLabel(column)}}</th>
          </tr>
        </slot>
      </thead>
      <tbody>
        <fragment v-for="(item, index) in data" :key="index">
          <tr v-if="item.origin">
            <slot :row="item">
              <td
                :colspan="columns.length"
                style="color:white;text-align:center;background:#009688"
              >Balasan dari {{item.letter_no}} - {{item.title}}</td>
              <td></td>
            </slot>
          </tr>
          <tr>
            <slot :row="item">
              <td v-for="(column,ix) in columns" :key="ix" v-if="hasValue(item, column)">
                <fragment v-if="isButton(column)">
                  <button
                    class="btn"
                    :class="'btn-' + column.color?column.color:'default'"
                    @click="column.callback(item)"
                  >
                    <i v-if="column.icon" class="fa" :class="'fa-' + column.icon"></i>
                    {{column.buttonText}}
                  </button>
                </fragment>
                <fragment v-else-if="column.trueFalse">
                  <span :class="column.trueFalse(item)?'text-green':'text-red'">
                    <i
                      class="fa"
                      :class="{'fa-check':column.trueFalse(item),'fa-close':!column.trueFalse(item)}"
                    ></i>
                    {{ column.trueFalse(item)?"Yes":"No" }}
                  </span>
                </fragment>
                <fragment v-else-if="column.multibutton">
                  <fragment v-for="(c, i) in multiButtonFilter(column.multibutton, item)" :key="i">
                    <button
                      style="margin:6px 2px;display:inline-block"
                      class="btn"
                      :class="'btn-' + c.color?c.color:'default'"
                      @click="c.callback(item)"
                    >
                      <i v-if="c.icon" class="fa" :class="'fa-' + c.icon"></i>
                      {{c.buttonText}}
                    </button>
                  </fragment>
                </fragment>
                <fragment v-else>{{itemValue(item, column)}}</fragment>
              </td>
            </slot>
          </tr>
        </fragment>
      </tbody>
    </table>
    <div style="margin:6px" class="alert alert-warning text-center" v-if="data.length < 1">
      <i class="fa fa-info"></i> No Data
    </div>
  </fragment>
</template>
<script>
var recursiveData = (item, column) => {
  if (typeof column === "string") {
    column = column.split(".");
  }

  let tcol = item[column[0]];
  let ncol = column.splice(0, 1);
  if (ncol.length < 1) return tcol.toString();
  else return recursiveData(tcol, ncol);
};
export default {
  name: "l-table",
  props: ["columns", "data"],
  methods: {
    multiButtonFilter(buttons, item) {
      return buttons.filter(y => {
        if (typeof y.show === "function") return y.show(item);
        else return true;
      });
    },
    columnLabel(column) {
      if (typeof column === "string") {
        return column;
      }
      if (typeof column === "object") {
        if (column.label) return column.label;
        if (column.name) return column.name;
      }
    },
    hasValue(item, column) {
      if (typeof column === "string") {
        return item[column.toLowerCase()] !== "undefined";
      }
      if (typeof column === "object") {
        if (column.callback) {
          return true;
        }
        if (column.name) {
          return item[column.name] !== "undefined";
        }
        if (column.label) {
          return item[column.label.toLowerCase()] !== "undefined";
        }
      }
    },
    isButton(column) {
      return typeof column === "object" && column.callback;
    },

    itemValue(item, column) {
      if (typeof column === "string") {
        return item[column.toLowerCase()];
      }
      if (typeof column === "object") {
        if (column.callback) {
          return;
        }
        if (typeof column.draw === "function") {
          return column.draw(item);
        }
        if (column.name) {
          return item[column.name];
          if (column.label) {
            return item[column.label.toLowerCase()];
          }
        }
        return item[column.toLowerCase()];
      }
    }
  }
};
</script>
<style>
</style>
