<template>
  <transition name="tableLoader" class="tableLoader">
    <div class="alert alert-primary text-center" v-if="loading">
      <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>
  </transition>
</template>
<script>
export default {
  props: ["loading"]
};
</script>

