<template>
  <div class="wrapper">
    <flash-message class="flashClass" :transitionName="'fadeAnim'"></flash-message>
    <side-bar title="APSI" backgroundImage="../img/kampak.png">
      <mobile-menu slot="content"></mobile-menu>
      <!-- <sidebar-link to="/admin/overview">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>Dashboard</p>
      </sidebar-link>-->
      <sidebar-link to="/admin/inbox">
        <i class="fa fa-inbox"></i>
        <p>Surat Masuk</p>
      </sidebar-link>
      <sidebar-link to="/admin/outbox">
        <i class="fa fa-envelope"></i>
        <p>Surat Keluar</p>
      </sidebar-link>
      <sidebar-link to="/admin/disposisi">
        <i class="fa fa-book"></i>
        <p>Disposisi Surat</p>
      </sidebar-link>
      <sidebar-link to="/admin/administrators">
        <i class="fa fa-user"></i>
        <p>Adminstrators</p>
      </sidebar-link>
      <sidebar-link to="/admin/targetdisposisi">
        <i class="fa fa-flag"></i>
        <p>Target Disposisi</p>
      </sidebar-link>
      <sidebar-link to="/admin/perintahdisposisi">
        <i class="fa fa-info"></i>
        <p>Perintah Disposisi</p>
      </sidebar-link>
      <sidebar-link to="/admin/arsip">
        <i class="fa fa-list"></i>
        <p>Arsip Surat</p>
      </sidebar-link>
      <!-- <sidebar-link to="/admin/table-list">
        <i class="nc-icon nc-notes"></i>
        <p>Table list</p>
      </sidebar-link>-->
      <!-- <sidebar-link to="/admin/typography">
        <i class="nc-icon nc-paper-2"></i>
        <p>Typography</p>
      </sidebar-link>
      <sidebar-link to="/admin/icons">
        <i class="nc-icon nc-atom"></i>
        <p>Icons</p>
      </sidebar-link>
      <sidebar-link to="/admin/maps">
        <i class="nc-icon nc-pin-3"></i>
        <p>Maps</p>
      </sidebar-link>-->
      <sidebar-link to="/admin/overview">
        <i class="nc-icon nc-bell-55"></i>
        <p>Notifications</p>
      </sidebar-link>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar"></dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu.vue";
import { mapState } from "vuex";
import Axios from "axios";
var interceptor = null;
export default {
  components: {
    TopNavbar,
    ContentFooter,
    DashboardContent,
    MobileMenu
  },
  computed: {
    ...mapState(["UserInfo"])
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    }
  },
  beforeDestroy() {
    Axios.interceptors.request.eject(interceptor);
  },
  mounted() {
    if (
      !this.$store.state.UserInfo.token ||
      !this.$store.state.UserInfo.userinfo
    ) {
      this.$router.replace("/login");
    }
    interceptor = Axios.interceptors.response.use(
      resp => {
        return resp;
      },
      err => {
        this.flash(err, "error");
        return Promise.reject(err);
      }
    );
  }
};
</script>