.overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    .popupwindow {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        background: white;
        border-radius: 3px;
        box-shadow: 0px 2px 3px #444;
        padding: 10px;
        .closebtn {
            padding: 0px;
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 1;
            border-width: 1px;
            cursor: pointer;
        }
        .windowheader {
            font-weight: bold;
            height: 30px;
            border-bottom: 1px solid #d8d8d8;
            margin-bottom: 10px;
            >* {
                font-weight: bold;
            }
        }
        .windowbody {
            flex: 1;
            overflow-y: auto;
            max-height: 500px;
        }
        .windowbody::-webkit-scrollbar {
            width: 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }
        .windowbody::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        .windowbody::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        /* Handle */
        .windowbody::-webkit-scrollbar-thumb {
            background: #888;
        }
        /* Handle on hover */
        .windowbody::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        .windowfooter {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            margin-top: 10px;
            border-top: 1px solid #d8d8d8;
        }
    }
}

.fadeAnim-enter-active,
.fadeAnim-leave-active {
    transition: all 0.25s ease-in-out;
}

.fadeAnim-enter,
.fadeAnim-leave-to {
    opacity: 0;
    transform: scale(1.05);
}

.fadeAnim-leave,
.fadeAnim-enter-to {
    opacity: 1;
    transform: scale(1);
}