.wrap {
    /* width: 1000px; */
    height: auto;
}

.contain {
    /* width: 1000px; */
    height: auto;
    background: #36404a;
    padding: 6px 0 9px 10px;
}

/*table*/

.table-wrapper-scroll-y {
    display: block;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* width */

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    position: absolute;
    background: #475058;
}

/* Handle */

::-webkit-scrollbar-thumb {
    position: absolute;
    background: #3b9dc2;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #3b9dc2;
}

.table,
.table-bordered,
.table-striped {
    color: #fff;
    float: right;
}

/*search*/

.src {
    /* width: 1000px; */
    height: 35px;
    margin-bottom: 18px;
}

.search {
    width: 550px;
    height: 35px;
    /* background: #475058; */
    border-radius: 10px;
    border: none;
    margin: 4px 0 0 0;
    float: left;
}

.search input {
    border: none;
}

.cari {
    width: 92%;
    height: 100%;
    border-radius: 10px;
    background: #475058;
    color: #fff;
    font-size: 13px;
    padding: 6px 4px 8px 15px;
    margin-right: -18px;
    outline: transparent;
}

input[type="text"]::placeholder {
    color: #fff;
}

.search img {
    width: 16px;
}

/*filter*/

.filter {
    width: 400px;
    float: right;
    position: relative;
}

.filter p {
    position: absolute;
    padding-top: 8px;
    color: #fff;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-left: 3px;
}

.custom-dropdown select {
    background-color: #475058;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 7em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    border-radius: 10px;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
    color: #fff;
}

.custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

/*.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}*/