<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <loader :loading="Archive.loading"/>
          <card class="strpied-tabled-with-hover" body-classes="table-full-width table-responsive">
            <template slot="header">
              <h4 class="card-title">
                Arsip Surat
                <button class="btn btn-success pull-right" @click="loadData">
                  <i class="fa fa-refresh"></i>
                </button>
              </h4>
            </template>
            <div class="rowcontainer filterrow">
              <div class="form-group">
                <label for>Cari</label>
                <div class="input-group">
                  <input type="text" class="form-control" v-model="search">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for>Tampilkan Hanya</label>
                <div class="input-group">
                  <select name id class="form-control" v-model="direction">
                    <option value="all">Semua Surat</option>
                    <option value="in">Surat Masuk</option>
                    <option value="out">Surat Keluar</option>
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fa fa-filter"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for>Dari tanggal</label>
                <div class="input-group">
                  <datepicker :input-class="'form-control'" v-model="from"/>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for>Sampai</label>
                <div class="input-group">
                  <datepicker :input-class="'form-control'" v-model="to"/>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fa fa-envelope"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <transition name="fade">
              <div class="row" v-if="origin">
                <div class="col-md-12">
                  <div class="alert alert-primary">
                    <h5>Menampilkan surat balasan dari</h5>
                    <p>
                      {{origin.letter_no}} - {{origin.title}}
                      <button
                        @click="removeOrigin"
                        class="btn btn-sm btn-danger pull-right"
                      >
                        <i class="fa fa-close"></i>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </transition>
            <l-table
              class="table-hover table-striped table-sm"
              :columns="columns"
              :data="Archive.data"
            ></l-table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker";
import LTable from "src/components/Table.vue";
import Card from "src/components/Cards/Card.vue";
import Axios from "axios";
import { serverUrl } from "../configs";
import { mapState } from "vuex";
import Loader from "../components/TableLoader";
import moment from "moment";

export default {
  components: {
    LTable,
    Card,
    Loader,
    Datepicker
  },
  computed: {
    ...mapState(["UserInfo", "Archive"])
  },
  watch: {
    from() {
      this.loadData();
    },
    to() {
      this.loadData();
    },
    search() {
      this.loadData();
    },
    direction() {
      this.loadData();
    },
    origin() {
      this.loadData();
    }
  },
  data() {
    return {
      loading: false,
      edit: false,
      columns: [],
      data: [],
      selectedData: null,
      from: moment()
        .add(-1, "month")
        .toDate(),
      to: new Date(),
      search: "",
      direction: "all",
      origin: null
    };
  },
  mounted() {
    this.columns = [
      { label: "No. Surat", name: "letter_no" },
      {
        label: "Tanggal Surat",
        name: "letter_date",
        draw: e => moment(e).format("DD MMM YYYY")
      },
      { label: "Perihal", name: "title" },
      { label: "Pengirim", name: "sender" },
      {
        label: "Arah Surat",
        draw: e => {
          return e.direction === "in" ? "Masuk" : "Keluar";
        }
      },
      {
        label: "Opsi",
        multibutton: [
          {
            icon: "file-pdf-o",
            buttonText: "SC Surat",
            color: "success",
            callback: e => {
              if (e.scan && e.scan.length > 0) {
                window.open(`${serverUrl}/docscan/${e.scan}`);
              } else {
                this.$notifications.notify({
                  message: `Surat belum disertai hasil scan.`,
                  icon: "fa fa-info",
                  horizontalAlign: "center",
                  verticalAlign: "top",
                  type: "success"
                });
              }
            }
          },
          {
            icon: "file-pdf-o",
            buttonText: "SC Disposisi",
            color: "success",
            callback: e => {
              console.log(e);
              if (e.disposition.scan && e.disposition.scan.length > 0) {
                window.open(`${serverUrl}/dispscan/${e.disposition.scan}`);
              } else {
                this.$notifications.notify({
                  message: `Surat belum disertai hasil scan.`,
                  icon: "fa fa-info",
                  horizontalAlign: "center",
                  verticalAlign: "top",
                  type: "success"
                });
              }
            }
          },
          {
            icon: "external-link",
            buttonText: "Terusan",
            color: "success",
            callback: e => {
              this.origin = e;
            }
          }
        ]
      }
    ];
    this.loadData();
  },
  methods: {
    removeOrigin() {
      this.origin = null;
    },
    async loadData() {
      this.$store.dispatch("Archive/load", {
        from: this.from,
        to: this.to,
        search: this.search,
        direction: this.direction,
        origin: this.origin ? this.origin.id : null
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.filterrow {
  > div {
    margin-left: 10px;
  }
}
</style>

