<template>
  <div class="content">
    <div class="container-fluid">
      <disposition-master-form
        v-if="edit"
        :close="()=>edit = false"
        :formData="selectedData"
        :finish="()=>loadData()"
      />
      <div class="row">
        <div class="col-12">
          <loader :loading="loading"/>
          <card class="strpied-tabled-with-hover" body-classes="table-full-width table-responsive">
            <template slot="header">
              <h4 class="card-title">
                Target Disposisi
                <button class="btn btn-success pull-right" @click="addData">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-success pull-right" @click="loadData">
                  <i class="fa fa-refresh"></i>
                </button>
              </h4>
            </template>
            <l-table
              class="table-hover table-striped table-sm"
              :columns="columns"
              :data="DispositionTargetMaster.data"
            ></l-table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LTable from "src/components/Table.vue";
import Card from "src/components/Cards/Card.vue";
import DispositionMasterForm from "./Inputs/DispositionMasterForm";
import Axios from "axios";
import { serverUrl } from "../configs";
import { mapState } from "vuex";
import Loader from "../components/TableLoader";

export default {
  components: {
    LTable,
    Card,
    DispositionMasterForm,
    Loader
  },
  computed: {
    ...mapState(["UserInfo", "DispositionTargetMaster"])
  },
  data() {
    return {
      loading: false,
      edit: false,
      columns: [],
      data: [],
      selectedData: null
    };
  },
  mounted() {
    this.columns = [
      { label: "Nama Lengkap", name: "name" },
      { label: "Identitas", draw: e => e.id_type + " : " + e.id_number },
      { label: "Jabatan", name: "role" },
      { label: "Aktif", trueFalse: d => d.active == 1 },
      {
        label: "Action",
        color: "warning",
        buttonText: "Edit",
        icon: "pencil",
        callback: e => {
          this.edit = true;
          this.selectedData = e;
        }
      }
    ];
    this.loadData();
  },
  methods: {
    addData() {
      this.selectedData = null;
      this.edit = true;
    },
    async loadData() {
      this.loading = true;
      try {
        let resp = await Axios.get(`${serverUrl}/disposition_targets`, {
          headers: {
            token: this.UserInfo.token
          }
        });
        if (resp.status == 200) {
          // this.data = resp.data.data;
          this.$store.commit("DispositionTargetMaster/setData", resp.data);
        }
      } catch (error) {
        if (error.response) {
          this.error = error.response.msg;
        } else {
          this.error = error.message;
        }
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
<style>
</style>
