<template>
  <div class="content">
    <div class="container-fluid">
      <disposition-input-form
        v-if="edit"
        :close="()=>edit = false"
        :formData="selectedData"
        :finish="()=>loadData()"
      />
      <div class="row">
        <div class="col-12">
          <loader :loading="loading"/>
          <card class="strpied-tabled-with-hover" body-classes="table-full-width table-responsive">
            <template slot="header">
              <h4 class="card-title">
                Disposisi Surat
                <button class="btn btn-success pull-right" @click="loadData">
                  <i class="fa fa-refresh"></i>
                </button>
              </h4>
            </template>
            <div class="row">
              <div class="col-md-12">
                <div class="rowcontainer">
                  <span style="margin-right:40px">Show data from</span>
                  <datepicker :input-class="'form-control'" v-model="query.from"/>
                  <span style="margin:0px 20px">To</span>
                  <datepicker :input-class="'form-control'" v-model="query.to"/>
                </div>
              </div>
            </div>
            <hr>
            <l-table
              class="table-hover table-striped table-sm"
              :columns="columns"
              :data="activeDisposition"
            ></l-table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LTable from "src/components/Table.vue";
import Card from "src/components/Cards/Card.vue";
import DispositionInputForm from "./Inputs/DispositionInputForm";
import Axios from "axios";
import { serverUrl } from "../configs";
import { mapState } from "vuex";
import moment from "moment";
import Loader from "../components/TableLoader";
import Datepicker from "vuejs-datepicker";
export default {
  components: {
    Datepicker,
    LTable,
    Card,
    DispositionInputForm,
    Loader
  },
  computed: {
    ...mapState(["UserInfo", "Disposition"]),
    activeDisposition() {
      return this.Disposition.data.filter(x => x.disposition);
    }
  },
  data() {
    return {
      id: 0,
      disposisi: false,
      loading: false,
      edit: false,
      columns: [],
      data: [],
      selectedData: null,
      query: {
        from: moment()
          .add("days", -7)
          .toDate(),
        to: new Date()
      }
    };
  },
  watch: {
    "query.from": function() {
      this.loadData();
    },
    "query.to": function() {
      this.loadData();
    }
  },
  mounted() {
    this.columns = [
      {
        label: "Tanggal Surat",
        draw: d => `${moment(d.letter_date).format("DD MMM YYYY")}`
      },
      { label: "Nomor Surat", name: "letter_no" },
      { label: "Pengirim", name: "sender" },
      {
        label: "Tanggal Disposisi",
        draw: i => {
          if (i.disposition)
            return moment(i.disposition.created_at).format("DD MMM YYYY");
          else return "n/a";
        }
      },
      {
        label: "Opsi",
        multibutton: [
          {
            show: e => e.disposition.message !== null,
            color: "success",
            buttonText: "Terbitkan Surat",
            icon: "edit",
            callback: e => {
              console.log(e);
              this.$router.push(`/admin/outbox?create=${e.id}`);
            }
          },
          {
            show: e => e.disposition.message == null,
            label: "Input Hasil Disposisi",
            color: "warning",
            buttonText: "Hasil Dispossi",
            icon: "plus",
            callback: e => {
              this.edit = true;
              this.selectedData = e;
            }
          },
          {
            color: "warning",
            buttonText: "Lembar Dispossi",
            icon: "external-link",
            callback: e => {
              window.open(`#/lembardisposisi?letter=${e.id}`);
              // this.$router.push(`/lembardisposisi?letter=${e.id}`);
            }
          }
        ]
      }
    ];
    this.loadData();
  },
  methods: {
    addData() {
      this.selectedData = null;
      this.edit = true;
    },
    async loadData() {
      this.loading = true;
      try {
        let resp = await Axios.get(`${serverUrl}/letters`, {
          params: {
            type: "in",
            from: moment(this.query.from).format("YYYY-MM-DD"),
            to: moment(this.query.to).format("YYYY-MM-DD")
          },
          headers: {
            token: this.UserInfo.token
          }
        });
        if (resp.status == 200) {
          // this.data = resp.data.data;
          this.$store.commit("Disposition/setData", resp.data);
        }
      } catch (error) {
        if (error.response) {
          this.error = error.response.msg;
        } else {
          this.error = error.message;
        }
        console.log(error);
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
<style>
</style>
