<template>
  <div class="content">
    <div class="container-fluid">
      <disposition-adv-form
        v-if="edit"
        :close="()=>edit = false"
        :formData="selectedData"
        :finish="()=>loadData()"
      />
      <div class="row">
        <div class="col-12">
          <loader :loading="loading"/>
          <card class="strpied-tabled-with-hover" body-classes="table-full-width table-responsive">
            <template slot="header">
              <h4 class="card-title">
                Perintah Disposisi
                <button class="btn btn-success pull-right" @click="addData">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-success pull-right" @click="loadData">
                  <i class="fa fa-refresh"></i>
                </button>
              </h4>
            </template>
            <l-table
              class="table-hover table-striped table-sm"
              :columns="columns"
              :data="DispositionAdvancements.data"
            ></l-table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LTable from "src/components/Table.vue";
import Card from "src/components/Cards/Card.vue";
import DispositionAdvForm from "./Inputs/DispositionAdvForm";
import Axios from "axios";
import { serverUrl } from "../configs";
import { mapState } from "vuex";
import Loader from "../components/TableLoader";

export default {
  components: {
    LTable,
    Card,
    DispositionAdvForm,
    Loader
  },
  computed: {
    ...mapState(["UserInfo", "DispositionAdvancements"])
  },
  data() {
    return {
      loading: false,
      edit: false,
      columns: [],
      data: [],
      selectedData: null
    };
  },
  mounted() {
    this.columns = [
      { label: "Perintah", name: "advancement" },
      {
        label: "Tipe Perintah",
        draw: e => {
          switch (e.type) {
            case "check":
              return "Checklist";

            case "lanjut":
              return "Fill";
            case "option":
              return "Pilihan";
          }
        }
      },
      {
        label: "Opsi",
        multibutton: [
          {
            color: "warning",
            buttonText: "Edit",
            icon: "pencil",
            callback: e => {
              this.edit = true;
              this.selectedData = e;
            }
          },
          {
            color: "warning",
            buttonText: "Delete",
            icon: "close",
            callback: e => {
              this.deleteData(e);
            }
          }
        ]
      }
    ];
    this.loadData();
  },
  methods: {
    addData() {
      this.selectedData = null;
      this.edit = true;
    },
    async deleteData(e) {
      let conf = confirm("Hapus data?");
      if (conf) {
        this.loading = true;
        try {
          let resp = await Axios.delete(
            `${serverUrl}/disposition_advancements/${e.id}`
          );
          if (resp.status == 200) {
            this.$notifications.notify({
              message: `Data berhasil dihapus`,
              icon: "fa fa-info",
              horizontalAlign: "center",
              verticalAlign: "top",
              type: "success"
            });
            this.loadData();
          }
        } catch (error) {
          console.log(error);
          this.$notifications.notify({
            message: error,
            icon: "fa fa-warning",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "warning"
          });
        }
      }
    },
    async loadData() {
      this.loading = true;
      try {
        let resp = await Axios.get(`${serverUrl}/disposition_advancements`, {
          headers: {
            token: this.UserInfo.token
          }
        });
        if (resp.status == 200) {
          // this.data = resp.data.data;
          this.$store.commit("DispositionAdvancements/setData", resp.data);
        }
      } catch (error) {
        if (error.response) {
          this.error = error.response.msg;
        } else {
          this.error = error.message;
        }
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
<style>
</style>
