<template>
  <div class="sheet" id="pdfsheet">
    <header>
      <div class="imgcontainer">
        <img src="../assets/logojabar.png" alt>
      </div>
      <div class="headertext">
        <h2>PEMERINTAH DAERAH PROVINSI JAWA BARAT</h2>
        <h2>DINAS PENDIDIKAN</h2>
        <h2>CABANG DINAS PENDIDIKAN WILAYAH 1</h2>
        <h2 class="school">
          <strong>SMK NEGERI 1 CIBINONG</strong>
        </h2>
        <h5>
          Jl Karadenan No 7 Cibinong, Bogor
          <i class="fa fa-phone"></i> (0251) 8663846 Fax. (0251) 8665558
        </h5>
      </div>
      <div class="imgcontainer">
        <img src="../assets/logosmk.png" alt>
      </div>
    </header>
    <hr>
    <section v-if="data">
      <h2 class="lettertitle">
        <u>Lembar Disposisi Kepala Sekolah</u>
      </h2>
      <h6 class="letterdate">Tanggal : {{ now.format("DD-MM-YYYY") }}</h6>
      <br>
      <table class="table">
        <tr>
          <td style="width:25%; text-align:left">Indeks :</td>
          <td style="width:25%; text-align:left">
            <strong>{{ data.registry_no }}</strong>
          </td>
          <td style="width:25%; text-align:left">Tanggal Penyelesaian :</td>
          <td
            style="width:25%; text-align:left;font-weight:bold"
            v-if="!data.disposition.acknowledge"
          >.........................................</td>
          <td
            style="width:25%; text-align:left;font-weight:bold"
            v-if="data.disposition.acknowledge"
          >{{moment(data.disposition.acknowledge).format("DD MMM YYYY HH:mm")}}</td>
        </tr>
      </table>
      <h5 class="rowdivider">Informasi Surat</h5>
      <table class="table table-striped">
        <tr>
          <td width="105;">Dari</td>
          <td width="40">:</td>
          <td>{{ data.sender }}</td>
        </tr>
        <tr>
          <td width="105;">Perihal</td>
          <td width="40">:</td>
          <td>{{ data.title }}</td>
        </tr>
        <tr>
          <td width="105;">TGL Surat</td>
          <td width="40">:</td>
          <td>{{ moment(data.letter_date).format("DD-MMM-YYYY") }}</td>
        </tr>
        <tr>
          <td width="105;">No Surat</td>
          <td width="40">:</td>
          <td>{{ data.letter_no }}</td>
        </tr>
      </table>
      <!-- <h5 class="rowdivider">Isi Singkat</h5>
      <p class="brief">{{data.brief_content}}</p>-->
      <h5 class="rowdivider">Sifat Surat</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="p-4">
            <div class="rowcontainer">
              <div class="box" :class="{'red':(data.disposition.importance_level & 1) == 1}"></div>
              <div
                class="advancements"
                :class="{'important':(data.disposition.importance_level & 1) == 1}"
                style="padding:0px 10px"
              >Rahasia</div>
            </div>
            <div class="rowcontainer">
              <div class="box" :class="{'red':(data.disposition.importance_level & 2) == 2}"></div>
              <div
                class="advancements"
                :class="{'important':(data.disposition.importance_level & 2) == 2}"
                style="padding:0px 10px"
              >Segera</div>
            </div>
            <div class="rowcontainer">
              <div class="box" :class="{'red':(data.disposition.importance_level & 4) == 4}"></div>
              <div
                class="advancements"
                :class="{'important':(data.disposition.importance_level & 4) == 4}"
                style="padding:0px 10px"
              >Sangat Segera</div>
            </div>
            <div class="rowcontainer">
              <div class="box" :class="{'red':(data.disposition.importance_level & 8) == 8}"></div>
              <div
                class="advancements"
                :class="{'important':(data.disposition.importance_level & 8) == 8}"
                style="padding:0px 10px"
              >Darurat</div>
            </div>
          </div>
        </div>
      </div>
      <h5 class="rowdivider">Diteruskan Kepada</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="flexDispositions p-3">
            <fragment v-for="(tgt) in data.disposition.disposition_targets" :key="tgt.id">
              <div class="rowcontainer">
                <div class="box"></div>
                <div class="advancements" style="padding:0px 10px">
                  <p>{{tgt.target_name.split('|')[0]}}</p>
                  <p class="small">{{tgt.target_name.split('|')[1]}}</p>
                </div>
              </div>
              <br>
            </fragment>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <table class="table">
        <tr>
          <td width="50%">
            <fragment v-for="(adv) in advancements" :key="adv.value">
              <div class="rowcontainer">
                <div class="box"></div>
                <div class="advancements" style="padding:0px 10px">{{adv.advancement}}</div>
              </div>
              <div
                v-if="adv.type === 'lanjut'"
                style="padding:0px 30px"
              >.........................................................</div>
              <div v-if="adv.type === 'option'" class="advancements" style="padding:0px 10px">
                <div
                  class="rowcontainer"
                  style="margin-left:18px"
                  v-for="(opt) in adv.options"
                  :key="opt.value"
                >
                  <div class="box"></div>
                  <div class="advancements" style="padding:0px 10px">{{opt.value}}</div>
                </div>
              </div>
            </fragment>
          </td>
          <td width="50%">
            <h4 class="text-center">
              <strong>INSTRUKSI/INFORMASI</strong>
            </h4>
          </td>
        </tr>
      </table>
    </section>
  </div>
</template>
<script>
import moment from "moment";
import Axios from "axios";
import { serverUrl } from "../configs";
import { mapState } from "vuex";
export default {
  data() {
    return {
      now: moment(),
      data: null
    };
  },
  computed: {
    ...mapState(["UserInfo"]),
    advancements() {
      try {
        return JSON.parse(this.data.disposition.advancement);
      } catch (error) {
        console.error(error);
        return [];
      }
    }
  },
  methods: {
    moment: d => moment(d)
  },
  async mounted() {
    let letterid = this.$route.query.letter;
    try {
      let resp = await Axios.get(`${serverUrl}/letters/${letterid}/details`);
      if (resp.status == 200) {
        resp.data.importance_level = Number(resp.data.importance_level);
        this.data = resp.data;
      }
    } catch (error) {
      console.log(error);
    }
  }
};
</script>
<style lang="scss" scoped>
* {
  font-size: 18px;
}
*:not(.fa) {
  font-family: "Times New Roman", Times, serif;
}
header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .imgcontainer {
    width: 130px;

    img {
      width: 100%;
    }
  }
  .headertext {
    flex: 1;
    * {
      text-align: center;
      margin: 0;
    }
    h2 {
      font-size: 22px;
      margin: 0;
    }
    .school {
      font-size: 26px;
      font-weight: bold;
    }
    h3 {
      font-size: 19px;
    }
    h5 {
      font-size: 16px;
    }
  }
}
section {
  .lettertitle {
    font-size: 21px;
    text-align: center;
    margin-bottom: 2px;
  }
  .letterdate {
    text-align: center;
    margin-top: 2px;
  }
  table.table {
    border: 0;
    td {
      vertical-align: top;
    }
    tr:nth-child(2n) td {
      background: #fefefe;
    }
    td.topheader {
      font-size: 19px;
      width: 200px;
      font-weight: bold;
    }
  }
  .rowdivider {
    font-size: 18px;
    font-style: italic;
    background: #efefef;
    padding: 8px 16px;
    font-weight: bold;
    margin: 0;
  }
  .brief {
    padding: 20px;
  }
}
.box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
.box.red {
  background: #f44336;
}
.advancements.important {
  font-weight: bold;
}
.advancements {
  p {
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  p:not(.small) {
    font-weight: bold;
  }
  p.small {
    font-size: 0.8em;
  }
}
.separator {
  border-bottom: 1px solid #ececec;
  margin: 10px 0px;
}
</style>
