<template>
  <div class="content">
    <div class="container-fluid">
      <inbox-form
        v-if="edit"
        :close="()=>edit = false"
        :formData="selectedData"
        :finish="()=>loadData()"
      />
      <disposisi-form
        v-if="disposisi"
        :close="()=>disposisi = false"
        :formData="selectedData"
        :finish="()=>loadData()"
      />
      <div class="row">
        <div class="col-12">
          <loader :loading="loading"/>
          <card class="strpied-tabled-with-hover" body-classes="table-full-width table-responsive">
            <template slot="header">
              <h4 class="card-title">
                Surat Masuk
                <button class="btn btn-success pull-right" @click="addData">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-success pull-right" @click="loadData">
                  <i class="fa fa-refresh"></i>
                </button>
              </h4>
            </template>
            <div class="row">
              <div class="col-md-12">
                <div class="rowcontainer">
                  <span style="margin-right:40px">Show data from</span>
                  <datepicker :input-class="'form-control'" v-model="query.from"/>
                  <span style="margin:0px 20px">To</span>
                  <datepicker :input-class="'form-control'" v-model="query.to"/>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button
                  style="padding:8px 16px !important"
                  class="pull-right btn btn-success"
                  @click="addData"
                >
                  <i class="fa fa-plus"></i> Catat surat masuk
                </button>
              </div>
            </div>
            <l-table
              class="table-hover table-striped table-sm"
              :columns="columns"
              :data="Inbox.data"
            ></l-table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LTable from "src/components/Table.vue";
import Card from "src/components/Cards/Card.vue";
import InboxForm from "./Inputs/InboxForm";
import DisposisiForm from "./Inputs/DisposisiForm";
import Axios from "axios";
import { serverUrl } from "../configs";
import { mapState } from "vuex";
import moment from "moment";
import Loader from "../components/TableLoader";
import Datepicker from "vuejs-datepicker";
export default {
  components: {
    Datepicker,
    LTable,
    Card,
    InboxForm,
    Loader,
    DisposisiForm
  },
  computed: {
    ...mapState(["UserInfo", "Inbox", "DispositionTargetMaster"])
  },
  watch: {
    "query.from": function() {
      this.loadData();
    },
    "query.to": function() {
      this.loadData();
    }
  },
  data() {
    return {
      disposisi: false,
      loading: false,
      edit: false,
      columns: [],
      data: [],
      selectedData: null,
      query: {
        from: moment()
          .add("days", -7)
          .toDate(),
        to: new Date()
      }
    };
  },
  mounted() {
    this.columns = [
      {
        label: "Tanggal Surat",
        draw: d => `${moment(d.letter_date).format("DD MMM YYYY")}`
      },
      { label: "Nomor Surat", name: "letter_no" },
      { label: "No Urut Surat", name: "registry_no" },
      { label: "Pengirim", name: "sender" },
      {
        label: "Opsi",
        multibutton: [
          {
            label: "Disposisi",
            color: "danger",
            show: e => {
              console.log(e);
              return !e.disposition;
            },
            buttonText: "Disposisi",
            icon: "external-link",
            callback: e => {
              if (e.disposition) {
                this.$router.push("/admin/disposisi");
              } else {
                this.disposisi = true;
                this.selectedData = e;
              }
            }
          },
          {
            label: "Lihat Disposisi",
            color: "success",
            show: e => e.disposition,
            buttonText: "Lihat Disposisi",
            icon: "external-link",
            callback: e => {
              if (e.disposition) {
                this.$router.push("/admin/disposisi");
              } else {
                this.disposisi = true;
                this.selectedData = e;
              }
            }
          },
          {
            label: "Edit",
            color: "warning",
            buttonText: "Edit",
            icon: "pencil",
            callback: e => {
              this.edit = true;
              this.selectedData = e;
            }
          }
        ]
      }
    ];
    this.loadData();
  },
  methods: {
    addData() {
      this.selectedData = null;
      this.edit = true;
    },
    async loadData() {
      this.loading = true;
      try {
        let resp = await Axios.get(`${serverUrl}/letters`, {
          params: {
            type: "in",
            from: moment(this.query.from).format("YYYY-MM-DD"),
            to: moment(this.query.to).format("YYYY-MM-DD")
          },
          headers: {
            token: this.UserInfo.token
          }
        });
        if (resp.status == 200) {
          // this.data = resp.data.data;
          this.$store.commit("Inbox/setData", resp.data);
        }
      } catch (error) {
        if (error.response) {
          this.error = error.response.msg;
        } else {
          this.error = error.message;
        }
        console.log(error);
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
<style>
</style>
