<template>
  <div class="overlay">
    <div class="backgroundimg"></div>
    <div class="loginview">
      <div class="logosection">
        <img src="../assets/smk.png" alt>
      </div>
      <div class="contentsection">
        <h2 style="margin-top:10px">
          <i class="fa fa-sign-in"></i> &nbsp;Login
        </h2>
        <hr>
        <p>Please provide your username and password</p>
        <p class="alert alert-danger" v-if="error !== ''">{{ error }}</p>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for>Username</label>
              <div class="input-group">
                <input type="text" class="form-control" v-model="username">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for>Password</label>
              <div class="input-group">
                <input type="text" class="form-control" v-model="password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fa fa-key"></i>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-success"
              style="padding:9p 18px"
              @click="login"
              :disabled="loggingIn"
            >
              <i class="fa fa-sign-in" v-if="!loggingIn"></i>
              <i class="fa fa-spin fa-spinner" v-if="loggingIn"></i> Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Axios from "axios";
import { serverUrl } from "../configs";
export default {
  data() {
    return {
      username: "",
      password: "",
      error: "",
      loggingIn: false
    };
  },
  methods: {
    async login() {
      try {
        this.loggingIn = true;
        let resp = await Axios.post(`${serverUrl}/administrator/login`, {
          username: this.username,
          password: this.password
        });
        if (resp.status === 200) {
          this.$store.commit("UserInfo/setUserInfo", resp.data);
          this.$router.replace("/");
        }
      } catch (error) {
        if (error.response && error.response.status === 400) {
          this.error = "Unknown username or password";
        }
      } finally {
        this.loggingIn = false;
      }
    }
  },
  mounted() {
    let token = this.$store.state.UserInfo.token;
    console.log(`Verifying token ${token}`);
    if (token) {
      // Function to check back token to server
      Axios.post(`${serverUrl}/administrator/checktoken`, {
        token: token
      })
        .then(resp => {
          if (resp.status === 200) {
            this.$store.commit("UserInfo/setUserInfo", {
              ...resp.data.data,
              token: token
            });
            this.$router.replace("/");
          }
        })
        .catch(error => {
          if (error.response && error.response.status === 400) {
            this.error = error.response.data.error;
          }
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .backgroundimg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: url("../assets/kampak.png");
    background-size: cover;
    filter: blur(2px);
  }
  .loginview {
    min-height: 200px;
    background: white;
    z-index: 3;
    box-shadow: 0px 2px 3px #444;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logosection {
      align-self: stretch;
      justify-content: center;
      align-items: center;
      background: #2196f3;
      display: flex;
      padding: 10px;
      img {
        text-shadow: 0px 2px 3px #222;
        align-self: center;
        width: 190px;
      }
    }
    .contentsection {
      width: 350px;
      padding: 10px;
      flex: 1;
    }
  }
}
</style>
