<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-warning">
              <i class="nc-icon nc-single-copy-04 text-warning"></i>
            </div>
            <div slot="content">
              <p class="card-category">Surat Masuk</p>
              <h4 class="card-title">{{thisMonth.incoming}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-calendar"></i>Bulan ini
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <i class="nc-icon nc-single-copy-04 text-success"></i>
            </div>
            <div slot="content">
              <p class="card-category">Surat Keluar</p>
              <h4 class="card-title">{{thisMonth.outgoing}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-calendar-o"></i>Bulan ini
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-single-copy-04 text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Disposisi</p>
              <h4 class="card-title">{{dispositions.finished}}/{{dispositions.letter_count}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-calendar"></i> Bulan ini
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-info">
              <i class="nc-icon nc-single-copy-04 text-primary"></i>
            </div>
            <div slot="content">
              <p class="card-category">Belum Disposisi</p>
              <h4 class="card-title">{{dispositions.letter_count - dispositions.finished}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-calendar"></i> Bulan ini
            </div>
          </stats-card>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-8">
          <chart-card
            :chart-data="lineChart.data"
            :chart-options="lineChart.options"
            :responsive-options="lineChart.responsiveOptions"
          >
            <template slot="header">
              <h4 class="card-title">Users Behavior</h4>
              <p class="card-category">24 Hours performance</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Open
                <i class="fa fa-circle text-danger"></i> Click
                <i class="fa fa-circle text-warning"></i> Click Second Time
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </template>
          </chart-card>
        </div>-->

        <div class="col-md-4">
          <card style="height:500px;overflow-x:hidden;overflow-y:auto">
            <template slot="header">
              <h4 class="card-title">Daftar Tujuan Surat</h4>
              <p class="card-category"></p>
            </template>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Pengirim</th>
                  <th>Jumlah Surat</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(sender,i) in  senderChart" :key="i">
                  <td>{{sender.sender}}</td>
                  <td>{{sender.letter_count}}</td>
                </tr>
              </tbody>
            </table>
          </card>
        </div>
        <div class="col-md-8">
          <chart-card
            v-if="barChartOK"
            :chart-data="barChart.data"
            :chart-options="barChart.options"
            :chart-responsive-options="barChart.responsiveOptions"
            chart-type="Bar"
          >
            <template slot="header">
              <h4 class="card-title">Data Bulanan</h4>
              <p class="card-category">Surat masuk &amp; Keluar</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i>
                Surat Masuk ({{masukTotal}})
                <i class="fa fa-circle text-danger"></i>
                Surat Keluar ({{keluarTotal}})
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-check"></i> Data information certified
              </div>
            </template>
          </chart-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ChartCard from "src/components/Cards/ChartCard.vue";
import StatsCard from "src/components/Cards/StatsCard.vue";
import LTable from "src/components/Table.vue";
import Axios from "axios";
import moment from "moment";
import { serverUrl } from "../configs.js";

export default {
  components: {
    LTable,
    ChartCard,
    StatsCard
  },
  data() {
    return {
      barChartOK: false,
      thisMonth: {
        incoming: 0,
        outgoing: 0
      },
      masukTotal: 0,
      keluarTotal: 0,
      senderChart: [],
      letterChart: [],
      editTooltip: "Edit Task",
      deleteTooltip: "Remove",
      pieChart: {
        data: {
          labels: ["40%", "20%", "40%"],
          series: [40, 20, 40]
        }
      },
      lineChart: {
        data: {
          labels: [
            "9:00AM",
            "12:00AM",
            "3:00PM",
            "6:00PM",
            "9:00PM",
            "12:00PM",
            "3:00AM",
            "6:00AM"
          ],
          series: [
            [287, 385, 490, 492, 554, 586, 698, 695],
            [67, 152, 143, 240, 287, 335, 435, 437],
            [23, 113, 67, 108, 190, 239, 307, 308]
          ]
        },
        options: {
          low: 0,
          high: 800,
          showArea: false,
          height: "245px",
          axisX: {
            showGrid: false
          },
          lineSmooth: true,
          showLine: true,
          showPoint: true,
          fullWidth: true,
          chartPadding: {
            right: 50
          }
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              axisX: {
                labelInterpolationFnc(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      },

      dispositions: {
        finished: 0,
        letter_count: 0
      },
      barChart: {
        data: {
          labels: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "Mai",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec"
          ],
          series: [
            [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
            [412, 243, 280, 580, 453, 353, 300, 364, 368, 410, 636, 695]
          ]
        },
        options: {
          seriesBarDistance: 10,
          axisX: {
            showGrid: false
          },
          axisY: {
            onlyInteger: true
          },
          height: "245px"
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      },
      tableData: {
        data: [
          {
            title:
              'Sign contract for "What are conference organizers afraid of?"',
            checked: false
          },
          {
            title:
              "Lines From Great Russian Literature? Or E-mails From My Boss?",
            checked: true
          },
          {
            title:
              "Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit",
            checked: true
          },
          {
            title: "Create 4 Invisible User Experiences you Never Knew About",
            checked: false
          },
          { title: 'Read "Following makes Medium better"', checked: false },
          { title: "Unfollow 5 enemies from twitter", checked: false }
        ]
      }
    };
  },
  watch: {
    letterChart() {
      this.barChartOK = false;
      this.barChart.data.labels = this.letterChart.map(x =>
        moment(x.date).format("YYYY-MM-DD")
      );
      this.barChart.data.series[0] = this.letterChart.map(x =>
        Number(x.incoming)
      );
      this.barChart.data.series[1] = this.letterChart.map(x =>
        Number(x.outgoing)
      );
      this.masukTotal = this.letterChart.reduce(
        (prev, n) => (prev += Number(n.incoming)),
        0
      );
      this.keluarTotal = this.letterChart.reduce(
        (prev, n) => (prev += Number(n.outgoing)),
        0
      );
      setTimeout(() => {
        this.$forceUpdate();
        this.barChartOK = true;
      }, 500);
    }
  },
  methods: {
    async load() {
      try {
        let resp = await Axios.get(`${serverUrl}/overviewdata`);
        if (resp.status == 200) {
          let d = resp.data;
          this.thisMonth = d.thisMonth;
          this.senderChart = d.senderChart;
          this.letterChart = d.letterChart;
          this.dispositions = d.dispositionCount;
        }
      } catch (error) {
        console.log(error);
      }
    }
  },
  mounted() {
    this.load();
  }
};
</script>
<style>
</style>
