<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:600px;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Administrator</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h5 class="lead">User Informations</h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Firstname</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.firstname">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Lastname</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.lastname">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-md-12">
                <h5 class="lead">Contacts Informations</h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Phone</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.phone">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-phone"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Email</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.email">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-md-12">
                <h5 class="lead">Accesibility</h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>This account will have access as</label>
                  <select name id class="form-control" v-model="data.level">
                    <option value="1">Regular User</option>
                    <option value="2">Administrator</option>
                    <option value="3">Supervisor</option>
                    <option value="4">Stakeholder</option>
                    <option value="999">Superadmin</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="col-md-12">
                <h5 class="lead">Login Credentials</h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Username</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.username">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Password</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.password">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-key"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="onSave">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
export default {
  props: ["close", "formData", "finish"],
  data() {
    return {
      data: {
        firstname: "",
        lastname: "",
        email: "",
        phone: "",
        username: "",
        password: "",
        level: 1
      },
      saving: false,
      shown: false
    };
  },
  computed: {
    ...mapState(["UserInfo"])
  },
  methods: {
    onSave() {
      this.formData ? this.update() : this.save();
    },
    async save() {
      this.saving = true;
      try {
        let resp = await Axios.post(`${serverUrl}/administrator`, this.data, {
          headers: {
            token: this.UserInfo.token
          }
        });
        if (resp.status === 201) {
          this.finish();
          this.close();
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        let v = this;
        this.flash(error + "\nClick to retry", "warning", {});
        console.log(error);
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    async update() {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/administrator/${this.data.id}`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 200) {
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
          this.finish();
          this.close();
        }
      } catch (error) {
        console.log(error);
        alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      this.close();
    },
    load() {
      Axios.get(`${serverUrl}/administrator`, {
        headers: {
          token: this.UserInfo
        }
      });
    }
  },
  mounted() {
    if (this.formData) {
      this.data = this.formData;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
