<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:80%;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Disposisi Surat Masuk</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="lead">Informasi Surat</h5>
                    <hr>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Nomor Surat</label>
                      <h4>{{formData.letter_no}}</h4>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Tangal Surat</label>
                      <h4>{{moment(formData.letter_date).format("DD MMM YYYY")}}</h4>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Pengirim (asal mula) Surat</label>
                      <h4>{{formData.sender}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="col-md-12">
                    <h5 class="lead">Konten Surat</h5>
                    <hr>
                  </div>
                  <hr>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Konten surat (singkat)</label>
                      <p style="border-left:4px solid #FF9800;padding-left:4px">
                        <i>{{formData.brief_content}}</i>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Hasil Scan Surat</label>
                      <!-- <div class="imgscan" id="imgscan" style="width:100%;padding:20px;"> -->
                      <!-- <img :src="scanurl" alt style="width:100%"> -->

                      <!-- </div> -->
                      <pdf :src="scanurl" :page="1">
                        <template slot="loading">loading content here...</template>
                      </pdf>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="aswadheader">
                  <h4>Tujuan Disposisi</h4>
                </div>
                <hr>
                <button class="btn btn-success" @click="addDisposisi">
                  <i class="fa fa-plus"></i> Tambahkan Tujuan Disposisi
                </button>
                <hr>
                <transition-group name="fade" style="display:flex;flex-direction:column">
                  <div v-for="(dis, i) in listDisposisi" class="disposisi" :key="i">
                    <h4 style="margin-top:0px">
                      Disposisi {{i+1}}
                      <div class="btn-group pull-right">
                        <button
                          class="btn btn-primary btn-sm"
                          @click="moveDisposisi(i, dis.sort - 1)"
                        >
                          <i class="fa fa-chevron-up"></i>
                        </button>
                        <button
                          class="btn btn-primary btn-sm"
                          @click="moveDisposisi(i, dis.sort + 1)"
                        >
                          <i class="fa fa-chevron-down"></i>
                        </button>
                        <button class="btn btn-primary btn-sm" @click="removeDisposisi(i)">
                          <i class="fa fa-close"></i>
                        </button>
                      </div>
                    </h4>

                    <label for>Nama Pegawai</label>
                    <vue-select
                      :options="dispositionTargets"
                      label="name"
                      v-model="dis.disposition"
                    >
                      <template slot="option" slot-scope="option">
                        <div class="rowcontainer" style="z-index:999999999">
                          <div style="display:flex;flex-direction:column">
                            <h5 style="margin:2px 2px">{{option.name}}</h5>
                            <h6 style="margin:2px 2px">{{option.id_type}} : {{option.id_number}}</h6>
                          </div>
                        </div>
                      </template>
                    </vue-select>
                  </div>
                </transition-group>
              </div>
              <div class="col-md-4">
                <div class="aswadheader">
                  <h4>Perintah Disposisi</h4>
                </div>
                <hr>
                <div class="form-group">
                  <label for>Sifat Surat</label>
                  <div class="rowcontainer">
                    <div class="rowcontainer">
                      <checkbox v-model="impRahasia"/>
                      <span>Rahasia</span>
                    </div>
                    <div class="rowcontainer">
                      <checkbox v-model="impSSegera"/>
                      <span>Sangat Segera</span>
                    </div>
                  </div>
                  <div class="rowcontainer">
                    <div class="rowcontainer">
                      <checkbox v-model="impSegera"/>
                      <span>Segera</span>
                    </div>
                    <div class="rowcontainer">
                      <checkbox v-model="impDarurat"/>
                      <span>Darurat</span>
                    </div>
                  </div>
                </div>
                <table class="table table-striped">
                  <tbody>
                    <tr v-for="(opt,i) in advancements" :key="i">
                      <td style="padding-bottom:7px;">
                        <div class="rowcontainer">
                          <checkbox v-model="opt.selected"/>
                          <span>
                            {{opt.advancement}}
                            <br>
                            <small
                              v-if="opt.type === 'option'"
                            >{{opt.options.map(x=>x.value).join(", ")}}</small>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="onSave">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import Checkbox from "../../components/Inputs/BaseCheckbox";
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
import Datepicker from "vuejs-datepicker";
import VueSelect from "vue-select";
import moment from "moment";
import pdf from "vue-pdf";
export default {
  components: {
    Checkbox,
    Datepicker,
    VueSelect,
    Datepicker,
    pdf
  },
  props: ["close", "formData", "finish"],
  data() {
    return {
      aswadLink: {
        enrollment: null,
        permit_type: "izin",
        permit_from: new Date(),
        permit_to: new Date(),
        permit_by: ""
      },
      disposisi: [],
      advancements: [],
      isChild: false,
      loadRegistry: false,
      registryCheckFailed: false,
      reg_no: 0,
      useAswadLink: false,
      data: {},
      saving: false,
      shown: false,
      importance: 0
    };
  },
  watch: {
    "data.letter_date": function() {
      this.aswadLink.permit_from = this.data.letter_date;
    },
    "DispositionAdvancements.data": function() {
      this.advancements = this.DispositionAdvancements.data.map(x => {
        return {
          ...x,
          selected: true
        };
      });
    }
  },
  computed: {
    ...mapState([
      "UserInfo",
      "DispositionTargetMaster",
      "DispositionAdvancements",
      "Aswad"
    ]),
    impRahasia: {
      get() {
        return (this.importance & 1) == 1;
      },
      set(v) {
        if (v) {
          this.importance = this.importance | 1;
        } else {
          if (this.impRahasia) this.importance -= 1;
        }
      }
    },
    impSSegera: {
      get() {
        return (this.importance & 2) == 2;
      },
      set(v) {
        if (v) {
          this.importance = this.importance | 2;
        } else {
          if (this.impSSegera) this.importance -= 2;
        }
      }
    },
    impSegera: {
      get() {
        return (this.importance & 4) == 4;
      },
      set(v) {
        if (v) {
          this.importance = this.importance | 4;
        } else {
          if (this.impSegera) this.importance -= 4;
        }
      }
    },
    impDarurat: {
      get() {
        return (this.importance & 8) == 8;
      },
      set(v) {
        if (v) {
          this.importance = this.importance | 8;
        } else {
          if (this.impDarurat) this.importance -= 8;
        }
      }
    },
    dispositionTargets() {
      return this.DispositionTargetMaster.data.filter(x => {
        if (
          this.disposisi.filter(d => d.disposition && d.disposition.id === x.id)
            .length > 0
        )
          return false;
        if (x.active == 0) return false;
        return true;
      });
    },
    scanurl() {
      return `${serverUrl}/docscan/${this.formData.scan}`;
    },
    listDisposisi() {
      this.disposisi = this.disposisi.sort((a, b) => {
        return a.sort - b.sort;
      });
      return this.disposisi;
    }
  },
  methods: {
    moment(d) {
      return moment(d);
    },
    addDisposisi() {
      this.disposisi.push({
        target_name: "",
        target_id: "",
        disposition: null,
        sort: this.disposisi.length,
        status: "ok"
      });
    },
    moveDisposisi(index, direction) {
      let c = this.disposisi[index];
      if (index > 0 && direction < c.sort) {
        let z = this.disposisi[index - 1];
        let zs = z.sort;
        z.sort = c.sort;
        c.sort = zs;
      } else if (index < this.disposisi.length && direction > c.sort) {
        let z = this.disposisi[index + 1];
        let zs = z.sort;
        z.sort = c.sort;
        c.sort = zs;
      }
      this.$forceUpdate();
    },
    removeDisposisi(i) {
      this.disposisi.splice(i, 1);
      this.$forceUpdate();
    },
    handleUpload() {
      console.log(this.$refs.fileupload.files);
      this.file = this.$refs.fileupload.files[0];
    },
    onSave() {
      this.save();
    },
    async save() {
      this.saving = true;
      try {
        let resp = await Axios.post(`${serverUrl}/dispositions/`, {
          letter_id: this.formData.id,
          importance_level: this.importance,
          disposition_date: moment(),
          due_date: moment(),
          advancement: JSON.stringify(
            this.advancements.filter(a => a.selected)
          ),
          disposition_targets: this.disposisi.map(x => {
            return {
              ...x,
              target_name: x.disposition.name + "|" + x.disposition.role,
              target_id: x.disposition.id_type + " " + x.disposition.id_number,
              disposition_order: x.sort
            };
          })
        });
        if (resp.status === 201) {
          this.finish();
          this.close();
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        let v = this;

        if (error.response && error.response.status === 422) {
          this.$notifications.notify({
            message: `Disposisi telah dilakukan terhadap surat ini. Silahkan menuju halaman disposisi`,
            icon: "fa fa-warning",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "warning"
          });
        } else {
          this.flash(error + "\nClick to retry", "warning", {});
          console.log(error);
        }
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      this.close();
    },
    load() {
      Axios.get(`${serverUrl}/administrators`, {
        headers: {
          token: this.UserInfo
        }
      });
    },
    async checkRegistryNo() {
      this.loadRegistry = true;
      try {
        let resp = await Axios.get(`${serverUrl}/letters/registry`);
        if (resp.status == 200) {
          this.reg_no = resp.data.reg_no;
          this.registryCheckFailed = false;
        }
      } catch (error) {
        this.reg_no = "n/a";
        this.registryCheckFailed = true;
      } finally {
        this.loadRegistry = false;
      }
    }
  },
  mounted() {
    this.$store.dispatch("DispositionTargetMaster/loadData");
    this.$store.dispatch("DispositionAdvancements/loadData");
    if (this.formData) {
      this.data = this.formData;
    }
    this.$store.dispatch("Aswad/loadEnrollments");
    this.checkRegistryNo();
    this.aswadLink.permit_by = `[APSI] - ${this.UserInfo.userinfo.fullname}`;
  }
};
</script>
<style lang="scss" scoped>
.aswadheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  .imgcontainer {
    background-color: #323b44;
    width: 55px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px #333;
    img {
      width: 100%;
    }
  }
  h4 {
    margin: 0px 0px 0px 8px;
  }
}
ul.dropdown-menu {
  color: black !important;
}
.disposisi {
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 18px 8px 4px;
}
h4 {
  margin-top: 4px;
  font-weight: 600;
}
</style>
