<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:600px;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Target Disposisi</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h5 class="lead" style="margin-bottom:0">
                  <small>Target disposisi adalah daftar orang yang dapat diinput dalam form diposisi.</small>
                </h5>
                <h5>
                  <small>Target disposisi dapat maliputi Kepala Sekolah, Kasubag TU, Wakasek dll.</small>
                </h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Nama Lengkap (beserta gelar)</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.name">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for>Tipe Identitias</label>
                  <select name id class="form-control" v-model="data.id_type">
                    <option value="NIP">NIP</option>
                    <option value="NUPTK">NUPTK</option>
                  </select>
                  <!-- <div class="input-group">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label for>Nomor Identitas</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.id_number">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Jabatan</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.role">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-list"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="rowcontainer">
                  <checkbox v-model="isActive"/>
                  <span>Aktif</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="onSave">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import Checkbox from "../../components/Inputs/BaseCheckbox";
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
export default {
  props: ["close", "formData", "finish"],
  components: {
    Checkbox
  },
  data() {
    return {
      data: {
        name: "",
        id_type: "NIP",
        id_number: "",
        role: "",
        active: 0
      },
      saving: false,
      shown: false
    };
  },
  computed: {
    ...mapState(["UserInfo", "DispositionTargetMaster"]),
    isActive: {
      get() {
        return this.data.active === 1;
      },
      set(v) {
        this.data.active = v ? 1 : 0;
      }
    }
  },
  methods: {
    onSave() {
      this.formData ? this.update() : this.save();
    },
    async save() {
      this.saving = true;
      try {
        let resp = await Axios.post(
          `${serverUrl}/disposition_targets`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 201) {
          this.finish();
          this.close();
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        let v = this;
        this.flash(error + "\nClick to retry", "warning", {});
        console.log(error);
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    async update() {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/disposition_targets/${this.data.id}`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 200) {
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
          this.finish();
          this.close();
        }
      } catch (error) {
        console.log(error);
        alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      this.close();
    },
    load() {
      Axios.get(`${serverUrl}/administrator`, {
        headers: {
          token: this.UserInfo
        }
      });
    }
  },
  mounted() {
    if (this.formData) {
      this.data = this.formData;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
