<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:80%;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Hasil Disposisi Surat Masuk</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="lead">Informasi Surat</h5>
                    <hr>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for>Nomor Surat</label>
                      <h4>{{formData.letter_no}}</h4>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for>Tangal Surat</label>
                      <h4>{{moment(formData.letter_date).format("DD MMM YYYY")}}</h4>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for>Pengirim (asal mula) Surat</label>
                      <h4>{{formData.sender}}</h4>
                    </div>
                  </div>
                  <hr>
                  <hr>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for>Konten surat (singkat)</label>
                      <p style="border-left:4px solid #FF9800;padding-left:4px">
                        <i>{{formData.brief_content}}</i>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for>Hasil Scan Surat</label>
                      <br>
                      <a :href="scanurl" target="_blank" class="btn btn-sm btn-success">
                        Lihat
                        <i class="fa fa-external-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <table class="table table-striped table-bordered">
                  <tr>
                    <th>Urutan</th>
                    <th>Tujuan Disposisi</th>
                    <th>Pesan Disposisi</th>
                  </tr>
                  <tr v-for="(dis, i) in formData.disposition.disposition_targets" :key="i">
                    <td>{{dis.disposition_order + 1}}</td>
                    <td>
                      {{dis.target_name}}
                      <br>
                      <small>{{dis.target_id}}</small>
                    </td>
                    <td v-if="i == 0" :rowspan="formData.disposition.disposition_targets.length">
                      <div class="form-group">
                        <div style="margin:2px 5px" v-for="(opt,i) in advancements" :key="i">
                          <div class="rowcontainer">
                            <checkbox v-model="opt.active"></checkbox>
                            <div class="advancements" style="padding:0px 10px">{{opt.advancement}}</div>
                          </div>
                          <div style="margin-left:20px" v-if="opt.type === 'option'">
                            <div
                              class="rowcontainer"
                              style="margin:5px 10px"
                              v-for="(o,i2) in opt.options"
                              :key="i2"
                            >
                              <checkbox v-model="o.active"></checkbox>
                              <div class="advancements" style="padding:0px 10px">{{o.value}}</div>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Scan lembar disposisi</label>
                  <input
                    type="file"
                    ref="fileupload"
                    class="form-control"
                    accept="application/pdf"
                    @change="handleUpload()"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="save">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import Checkbox from "../../components/Inputs/BaseCheckbox";
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
import Datepicker from "vuejs-datepicker";
import VueSelect from "vue-select";
import moment from "moment";
import pdf from "vue-pdf";
export default {
  components: {
    Checkbox,
    Datepicker,
    VueSelect,
    Datepicker,
    pdf
  },
  props: ["close", "formData", "finish"],
  data() {
    return {
      aswadLink: {
        enrollment: null,
        permit_type: "izin",
        permit_from: new Date(),
        permit_to: new Date(),
        permit_by: ""
      },
      disposisi: [],
      isChild: false,
      loadRegistry: false,
      registryCheckFailed: false,
      reg_no: 0,
      useAswadLink: false,
      data: {},
      saving: false,
      shown: false,
      advancements: []
    };
  },
  watch: {
    "data.letter_date": function() {
      this.aswadLink.permit_from = this.data.letter_date;
    }
  },
  computed: {
    ...mapState(["UserInfo", "DispositionTargetMaster", "Aswad"]),
    scanurl() {
      return `${serverUrl}/docscan/${this.formData.scan}`;
    },
    listDisposisi() {
      this.disposisi = this.disposisi.sort((a, b) => {
        console.log("Sorting disposisi" + a.sort + " COMP " + b.sort);
        return a.sort - b.sort;
      });
      return this.disposisi;
    }
  },
  methods: {
    moment(d) {
      return moment(d);
    },
    handleUpload() {
      console.log(this.$refs.fileupload.files);
      this.file = this.$refs.fileupload.files[0];
    },
    async save(onlyupload = false) {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/dispositions/${this.formData.disposition.id}`,
          {
            message: JSON.stringify(this.advancements)
          }
        );
        if (resp.status !== 200) {
          this.$notifications.notify({
            message: `Data gagal disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "warning"
          });
          return;
        }
        let data = new FormData();
        let formData = new FormData();
        formData.append("scanimg", this.file);
        resp = await Axios.post(
          `${serverUrl}/dispositions/${this.formData.disposition.id}/dispositionresult`,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          }
        );
        this.finish();
        this.close();
        this.$notifications.notify({
          message: `Data berhasil disimpan`,
          icon: "fa fa-info",
          horizontalAlign: "center",
          verticalAlign: "top",
          type: "success"
        });
      } catch (error) {
        let v = this;
        this.flash(error + "\nClick to retry", "warning", {});
        console.log(error);
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    async update() {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/api/account/${this.data.id}`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 200) {
          this.finish();
          this.close();
        }
      } catch (error) {
        console.log(error);
        alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      this.close();
    },
    load() {
      Axios.get(`${serverUrl}/administrators`, {
        headers: {
          token: this.UserInfo
        }
      });
    }
  },
  mounted() {
    this.$store.dispatch("DispositionTargetMaster/loadData");
    if (this.formData) {
      this.data = this.formData;
      try {
        this.advancements = JSON.parse(
          this.formData.disposition.advancement
        ).map(x => {
          return {
            ...x,
            active: false,
            options:
              x.type !== "option"
                ? []
                : x.options.map(y => {
                    return { ...y, active: false };
                  })
          };
        });
      } catch (error) {
        this.advancements = [];
      }
    }
    this.$store.dispatch("Aswad/loadEnrollments");
    this.aswadLink.permit_by = `[APSI] - ${this.UserInfo.userinfo.fullname}`;
  }
};
</script>
<style lang="scss" scoped>
.aswadheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  .imgcontainer {
    background-color: #323b44;
    width: 55px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px #333;
    img {
      width: 100%;
    }
  }
  h4 {
    margin: 0px 0px 0px 8px;
  }
}
ul.dropdown-menu {
  color: black !important;
}
.disposisi {
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 18px 8px 4px;
}
h4 {
  margin-top: 4px;
  font-weight: 600;
}
</style>
