<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:600px;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Perintah Disposisi</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h5 class="lead" style="margin-bottom:0">
                  <small>Perintah disposisi adalah daftar perintah yang dapat dipilih target disposisi ketika melakukan disposisi.</small>
                </h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Perintah disposisi</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.advancement">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Tipe Pilihan</label>
                  <div class="input-group">
                    <select name id class="form-control" v-model="data.type">
                      <option value="check">Checklist</option>
                      <option value="lanjut">Isian Lanjut</option>
                      <option value="option">Opsi</option>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" v-if="data.type === 'option'">
                <div class="row">
                  <div class="col-md-12">
                    <h5>
                      Opsi Disposisi
                      <button
                        href
                        class="btn btn-sm pull-right btn-primary"
                        @click="addOption"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </h5>
                    <hr>
                    <div class="form-group" v-for="(opt,i) in data.options" :key="i">
                      <div class="input-group">
                        <input type="text" class="form-control" v-model="opt.value">
                        <div class="input-group-append">
                          <div class="input-group-text" @click="deleteOption(i)">
                            <i class="fa fa-close"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="onSave">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import Checkbox from "../../components/Inputs/BaseCheckbox";
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
export default {
  props: ["close", "formData", "finish"],
  components: {
    Checkbox
  },
  data() {
    return {
      data: {
        advancement: "",
        type: "check",
        options: [{ value: "" }]
      },
      saving: false,
      shown: false
    };
  },
  computed: {
    ...mapState(["UserInfo", "DispositionAdvancements"]),
    isActive: {
      get() {
        return this.data.active === 1;
      },
      set(v) {
        this.data.active = v ? 1 : 0;
      }
    }
  },
  methods: {
    addOption() {
      this.data.options.push({ value: "" });
      this.$forceUpdate();
    },
    deleteOption(opt) {
      let i = this.data.options.splice(opt, 1);
      this.$forceUpdate();
    },
    onSave() {
      this.formData ? this.update() : this.save();
    },
    async save() {
      this.saving = true;
      try {
        let resp = await Axios.post(
          `${serverUrl}/disposition_advancements`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 201) {
          this.finish();
          this.close();
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        let v = this;
        this.flash(error + "\nClick to retry", "warning", {});
        console.log(error);
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    async update() {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/disposition_advancements/${this.data.id}`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 200) {
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
          this.finish();
          this.close();
        }
      } catch (error) {
        console.log(error);
        alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      this.close();
    },
    load() {
      Axios.get(`${serverUrl}/administrator`, {
        headers: {
          token: this.UserInfo
        }
      });
    }
  },
  mounted() {
    if (this.formData) {
      this.data = this.formData;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
