<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:600px;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Buat Entri Surat Masuk</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h5 class="lead">Informasi Surat</h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Nomor Surat</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.letter_no">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-list"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Tangal Surat</label>
                  <div class="input-group">
                    <datepicker :input-class="'form-control'" v-model="data.letter_date"/>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Pengirim (asal mula) Surat</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.sender">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col-md-12">
                <h5 class="lead">Konten Surat</h5>
              </div>
              <hr>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Perihal</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.title">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Konten surat (singkat)</label>
                  <textarea
                    name
                    id
                    placeholder="Tuliskan konten surat secara singkat"
                    cols="30"
                    rows="3"
                    v-model="data.brief_content"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Hasil Scan Surat</label>
                  <div class="input-group">
                    <input
                      ref="fileupload"
                      @change="handleUpload()"
                      type="file"
                      class="form-control"
                      accept="application/pdf"
                    >
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-info"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="onSave">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import Checkbox from "../../components/Inputs/BaseCheckbox";
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
import Datepicker from "vuejs-datepicker";
export default {
  components: {
    Checkbox,
    Datepicker
  },
  props: ["close", "formData", "finish"],
  data() {
    return {
      isChild: false,
      data: {
        title: "",
        periode: "",
        letter_date: new Date(),
        letter_no: "",
        registry_no: "",
        sender: "",
        brief_content: "",
        scan: "",
        status: "",
        direction: ""
      },
      saving: false,
      shown: false
    };
  },
  computed: {
    ...mapState(["UserInfo", "DispositionTargetMaster"])
  },
  methods: {
    handleUpload() {
      console.log(this.$refs.fileupload.files);
      this.file = this.$refs.fileupload.files[0];
    },
    onSave() {
      this.formData ? this.update() : this.save();
    },
    async save() {
      this.saving = true;
      try {
        let resp = await Axios.post(
          `${serverUrl}/letters`,
          { ...this.data, admin_id: 1, direction: "in" },
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 201) {
          //upload file
          if (!this.file) {
            this.finish();
            this.close();
            this.$notifications.notify({
              message: `Data berhasil disimpan`,
              icon: "fa fa-info",
              horizontalAlign: "center",
              verticalAlign: "top",
              type: "success"
            });
            return;
          }
          let id = resp.data.id;
          let formData = new FormData();
          formData.append("scanimg", this.file);
          resp = await Axios.post(`${serverUrl}/letters/${id}/scan`, formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          });
          this.finish();
          this.close();
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        let v = this;
        this.flash(error + "\nClick to retry", "warning", {});
        console.log(error);
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    async update() {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/api/account/${this.data.id}`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 200) {
          this.finish();
          this.close();
          
          if (!this.file) return;
          let id = this.data.id;
          let formData = new FormData();
          formData.append("scanimg", this.file);
          resp = await Axios.post(`${serverUrl}/letters/${id}/scan`, formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          });
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        console.log(error);
        alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      this.close();
    },
    load() {
      Axios.get(`${serverUrl}/administrators`, {
        headers: {
          token: this.UserInfo
        }
      });
    }
  },
  mounted() {
    this.$store.dispatch("DispositionTargetMaster/loadData");
    if (this.formData) {
      this.data = this.formData;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
