<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:80%;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Buat Entri Surat Keluar</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12" v-if="origin">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th colspan="2">Respon dari surat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>No</td>
                      <td>{{origin.letter_no}}</td>
                    </tr>
                    <tr>
                      <td>Perihal</td>
                      <td>{{origin.title}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h4>
                      No Urut Surat yang akan dibuat:
                      <span
                        style="float:right;display:inline-block;padding:4px 8px; background:#ff9800;color:white;border-radius:5px"
                      >{{reg_no}}</span>
                    </h4>
                    <i class="fa fa-spinner fa-spin" v-if="loadRegistry"></i>
                    <button class="btn btn-danger pull-right" v-if="registryCheckFailed">
                      <i class="fa fa-warning"></i> Retry
                    </button>
                    <hr>
                  </div>
                  <div class="col-md-12">
                    <h5 class="lead">Informasi Surat</h5>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Nomor Surat</label>
                      <div class="input-group">
                        <input type="text" class="form-control" v-model="data.letter_no">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <i class="fa fa-list"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Tangal Surat</label>
                      <div class="input-group">
                        <datepicker :input-class="'form-control'" v-model="data.letter_date"/>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <i class="fa fa-envelope"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Pengirim (asal mula) Surat</label>
                      <div class="input-group">
                        <input type="text" class="form-control" v-model="data.sender">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <i class="fa fa-user"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <h5 class="lead">Konten Surat</h5>
                  </div>
                  <hr>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Perihal</label>
                      <div class="input-group">
                        <input type="text" class="form-control" v-model="data.title">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <i class="fa fa-user"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Konten surat (singkat)</label>
                      <textarea
                        name
                        id
                        placeholder="Tuliskan konten surat secara singkat"
                        cols="30"
                        rows="3"
                        v-model="data.brief_content"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for>Hasil Scan Surat</label>
                      <div class="input-group">
                        <input
                          ref="fileupload"
                          @change="handleUpload()"
                          type="file"
                          class="form-control"
                          accept="application/pdf"
                        >
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <i class="fa fa-info"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="aswadheader">
                  <div class="imgcontainer">
                    <img src="../../assets/aswad.png" alt>
                  </div>
                  <h4>Aswad Link</h4>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <div class="rowcontainer">
                      <checkbox v-model="useAswadLink"/>
                      <span>Buat Izin Ke aplikasi Aswad</span>
                    </div>
                  </div>
                  <div class="col-md-12" v-if="useAswadLink">
                    <hr>
                    <label for>Pilih Pegawai</label>
                    <vue-select
                      transition="fade"
                      v-model="aswadLink.enrollment"
                      :options="Aswad.enrollments"
                      label="firstname"
                    >
                      <template slot="option" slot-scope="option">
                        <div class="rowcontainer" style="z-index:999999999">
                          <div class="img" style="width:50px;margin:1px 2px;padding:3px 5px">
                            <img
                              :src="'http://rplsmkn1cibinong.com/aswadphoto/' + option.photo1"
                              style="width:100%"
                              alt
                            >
                          </div>
                          <div style="display:flex;flex-direction:column">
                            <h5 style="margin:2px 2px">{{option.firstname}}</h5>
                            <h6
                              style="margin:2px 2px"
                            >{{option.division.division}}/{{option.employment_status.employment_status}}</h6>
                            <small
                              style="margin:2px 2px"
                            >{{option.attendance?"Sudah Masuk":"Belum Masuk"}}</small>
                          </div>
                        </div>
                      </template>
                    </vue-select>
                    <br>
                    <div class="form-group">
                      <label for>Tanggal Surat Tugas</label>
                      <datepicker input-class="form-control" v-model="aswadLink.permit_from"/>
                    </div>
                    <div class="form-group">
                      <label for>
                        Diberlakukan hingga
                        <small>Tanggal terakhir berlakunya izin</small>
                      </label>
                      <datepicker input-class="form-control" v-model="aswadLink.permit_to"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="onSave">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import Checkbox from "../../components/Inputs/BaseCheckbox";
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
import Datepicker from "vuejs-datepicker";
import VueSelect from "vue-select";

export default {
  components: {
    Checkbox,
    Datepicker,
    VueSelect,
    Datepicker
  },
  props: ["close", "formData", "finish", "origin"],
  data() {
    return {
      aswadLink: {
        enrollment: null,
        permit_type: "izin",
        permit_from: new Date(),
        permit_to: new Date(),
        permit_by: ""
      },
      isChild: false,
      loadRegistry: false,
      registryCheckFailed: false,
      reg_no: 0,
      useAswadLink: false,
      data: {
        title: "",
        periode: "",
        letter_date: new Date(),
        letter_no: "",
        registry_no: "",
        sender: "",
        brief_content: "",
        scan: "",
        status: "",
        direction: "",
        origin: null
      },
      saving: false,
      shown: false
    };
  },
  watch: {
    "data.letter_date": function() {
      this.aswadLink.permit_from = this.data.letter_date;
    },
    origin: function() {
      this.data.origin = this.origin.id;
    }
  },
  computed: {
    ...mapState(["UserInfo", "Accounts", "Aswad"]),
    balanceSheet: {
      get() {
        return this.data.show_in_balance == 1;
      },
      set(v) {
        this.data.show_in_balance = v ? 1 : 0;
      }
    },
    profitSheet: {
      get() {
        return this.data.show_in_profit == 1;
      },
      set(v) {
        this.data.show_in_profit = v ? 1 : 0;
      }
    }
  },
  methods: {
    handleUpload() {
      console.log(this.$refs.fileupload.files);
      this.file = this.$refs.fileupload.files[0];
    },
    onSave() {
      this.formData ? this.update() : this.save();
    },
    async save() {
      this.saving = true;
      try {
        let resp = await Axios.post(
          `${serverUrl}/letters`,
          { ...this.data, admin_id: 1, direction: "out" },
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 201) {
          //upload file
          if (!this.file) {
            this.finish();
            this.close();
            this.$notifications.notify({
              message: `Data berhasil disimpan`,
              icon: "fa fa-info",
              horizontalAlign: "center",
              verticalAlign: "top",
              type: "success"
            });
            return;
          }
          let id = resp.data.id;
          let formData = new FormData();
          formData.append("scanimg", this.file);
          resp = await Axios.post(`${serverUrl}/letters/${id}/scan`, formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          });
          this.finish();
          this.closeForm();
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        let v = this;
        if (error.response) {
          if (error.response.status === 422) {
            this.$notifications.notify({
              message: `Nomor surat telah terdaftar! Silahkan gunakan nomor surat lain`,
              icon: "fa fa-warning",
              horizontalAlign: "center",
              verticalAlign: "top",
              type: "warning"
            });
          }
        } else {
          this.flash(error + "\nClick to retry", "warning", {});
          console.log(error);
        }
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    async update() {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/api/account/${this.data.id}`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 200) {
          this.finish();
          this.close();

          if (!this.file) return;
          let id = this.data.id;
          let formData = new FormData();
          formData.append("scanimg", this.file);
          resp = await Axios.post(`${serverUrl}/letters/${id}/scan`, formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          });
          this.$notifications.notify({
            message: `Data berhasil disimpan`,
            icon: "fa fa-info",
            horizontalAlign: "center",
            verticalAlign: "top",
            type: "success"
          });
        }
      } catch (error) {
        console.log(error);
        alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      if (this.origin) {
        this.$router.push(`/admin/disposisi`);
        return;
      }
      this.close();
    },
    load() {
      Axios.get(`${serverUrl}/administrators`, {
        headers: {
          token: this.UserInfo
        }
      });
    },
    async checkRegistryNo() {
      this.loadRegistry = true;
      try {
        let resp = await Axios.get(`${serverUrl}/letters/registry`);
        if (resp.status == 200) {
          this.reg_no = resp.data.reg_no;
          this.registryCheckFailed = false;
        }
      } catch (error) {
        this.reg_no = "n/a";
        this.registryCheckFailed = true;
      } finally {
        this.loadRegistry = false;
      }
    }
  },
  mounted() {
    if (this.formData) {
      this.data = this.formData;
    }
    this.$store.dispatch("Aswad/loadEnrollments");
    this.checkRegistryNo();
    this.aswadLink.permit_by = `[APSI] - ${this.UserInfo.userinfo.fullname}`;
  }
};
</script>
<style lang="scss" scoped>
.aswadheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  .imgcontainer {
    background-color: #323b44;
    width: 55px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px #333;
    img {
      width: 100%;
    }
  }
  h4 {
    margin: 0px 0px 0px 8px;
  }
}
</style>
<style>
ul.dropdown-menu {
  color: black !important;
  z-index: 99999;
}
.dropdown-toggle::after {
  display: none !important;
}
</style>

