<template>
  <transition name="fadeAnim">
    <div class="overlay">
      <div class="popupwindow" style="width:600px;">
        <button class="closebtn btn btn-danger" @click="closeForm">
          <i class="fa fa-close"></i>
        </button>
        <div class="windowheader">
          <h5>Transaction Type</h5>
        </div>
        <div class="windowbody">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h5 class="lead">Fill in information about transaction types</h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Transaction Code</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.code">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for>Transaction Type Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" v-model="data.transaction_type">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group rowcontainer">
                  <checkbox v-model="isActive"/>
                  <label style="margin-top:20px" for>Active</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="windowfooter">
          <button class="btn btn-success" :disabled="saving" @click="onSave">
            <i class="fa fa-save" v-if="!saving"></i>
            <i class="fa fa-spinner fa-spin" v-if="saving"></i> Save
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import { mapState } from "vuex";
import Axios from "axios";
import { serverUrl } from "../../configs";
import Checkbox from "../../components/Inputs/BaseCheckbox";
export default {
  props: ["close", "formData", "finish"],
  components: {
    Checkbox
  },
  data() {
    return {
      data: {
        code: "TRX-",
        transaction_type: "",
        active: 0
      },
      saving: false,
      shown: false
    };
  },
  computed: {
    isActive: {
      get() {
        return this.data.active == 1;
      },
      set(v) {
        this.data.active = v ? 1 : 0;
      }
    },
    ...mapState(["UserInfo", "TransactionTypes"])
  },
  methods: {
    onSave() {
      this.formData ? this.update() : this.save();
    },
    async save() {
      this.saving = true;
      try {
        let resp = await Axios.post(
          `${serverUrl}/api/transactiontype`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 201) {
          this.finish();
          this.close();
        }
      } catch (error) {
        let v = this;
        console.log(error);
        // alert(error);
      } finally {
        this.saving = false;
      }
    },
    async update() {
      this.saving = true;
      try {
        let resp = await Axios.put(
          `${serverUrl}/api/transactiontype/${this.data.id}`,
          this.data,
          {
            headers: {
              token: this.UserInfo.token
            }
          }
        );
        if (resp.status === 200) {
          this.finish();
          this.close();
        }
      } catch (error) {
        console.log(error);
        alert(error);
      } finally {
        this.saving = false;
      }
    },
    closeForm() {
      this.close();
    }
  },
  mounted() {
    if (this.formData) {
      this.data = this.formData;
    }
  }
};
</script>
<style lang="scss" scoped>
</style>
